<%= render partial: "classroom", locals: {classroom: @classroom} %>

Students:<br>
<ul>
  <% @classroom.students.each do |student| %>
    <li><%= render partial: "students/student", locals: {student: student} %></li>
  <% end %>
</ul>